<nav class="accessibility flex flex-middle">
   <i class="material-icons">accessible</i>acessibilidade:
   <img  ng-click="dec()" class="font-action" src="assets/images/font-lower.svg" alt="Diminuir fonte" title="Diminuir fonte">
   <img  ng-click="default()" class="font-action" src="assets/images/font-default.svg" alt="Aumentar fonte" title="Aumentar fonte">
   <img  ng-click="inc()" class="font-action" src="assets/images/font-upper.svg" alt="Aumentar fonte" title="Aumentar fonte">
   <a href="#"></a>
     
</nav>