@import "materialize/helpers/color";


// 1. Setup Colors
// ==========================================================================
$primary-color: color("pink", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: color("pink", "accent-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("red", "darken-1") !default;
$primary-gradient: linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48));


// 2. Navigation Bar
// ==========================================================================
$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: $primary-color !default;
$navbar-brand-font-size: 2.1rem !default;
$nav-color: #ffffff;


@import "partials/map_vars";
@import "materialize/helpers/mixins";
