.accessibility.accessibility {
   padding: 0 20px;
   height: 40px;
   
   i{
      height: 100%;
      line-height: 40px;
   }
   a {
      display: block;
      height: 40px;
      line-height: 40px;
      line-height: 40px;
   }
   .font-action {
      width: 20px;
      margin: 0 10px;
   }
}