.go-back {
   background-color: transparent;
   border: none;
   color: $primary-color;
   padding: 50px 0;
   margin-top: 30px;
   
   
   span,i {
      display: inline-block;
      vertical-align: middle;
   }
}