<sv-header name="about.viewInfo"></sv-header>
<section class="about">
   <div class="container">
      <h1 class="acent-font">SouVoluntário</h1>
      <hr class="sv-separator">
      <p>Este projeto surgiu originalmente da proposta de trabalho final do curso Students to Busines 2017/02 (S2B 2017/02), na trilha de desenvolvimento web com Node.js, do qual o objetivo era projetar e construir um sistema de informação para anúncios de oportunidades de voluntariado. Durante o desenvolvimento do projeto, o sistema ganhou proporções que para nós, tornou-se algo a ser levado adiante, com o apoio do feedback coletado após a avaliação realizada pela banca responsável, ao final do curso. O projeto foi concebido com o objetivo de levar pessoas dispostas a ajudar àquelas que precisam, nas mais diversas causas, onde o requisito para ser voluntário em oportunidades de voluntariado varia desde certificações profissionais, até a mais simples e pura boa vontade de ajudar o próximo. 
SouVoluntário! Venha ser também! :D</p>
   </div>
</section>
<sv-be-a-volunteer></sv-be-a-volunteer>
