<div class="full-page bg" style="background-image:url(assets/images/login_bg.jpg)">
   <div class="card login-card">
      <div sv-form class="card-content">
         <form name="loginForm" class="col s12">
            <div class="row">
               <div class="input-field col s12">
                  <input id="email" name="email" type="email" class="" ng-model="auth.formData.email" ng-minlength="3" required>
                  <label for="email">Email</label>
               </div>
               <div class="input-field col s12">
                  <input id="password" name="password" type="password" class="" ng-model="auth.formData.password" required>
                  <label for="password">Senha</label>
               </div>
            </div>
            <div class="row flex flex-middle flex-wrap">
               <div class="input-field col s12 m6">
                  <a>Esqueceu sua senha?</a>
               </div>
               <div class="input-field col s12 m6 text-right">
                  <button ng-click="auth.send()" ng-disabled="loginForm.$invalid" type="submit" class="btn btn-flat btn-large btn-flat" novalidate>Entrar</button>
               </div>
               
               <div class=" col s12 text-center">
                  <a href="#/" title="voltar à Home" class="go-back" novalidate>
                     <i class="material-icons">arrow_back</i>
                     <span>Voltar para Home</span>
                  </a>
               </div>
               
            </div>
         </form>
      </div>
   </div>
</div>